<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>House</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
	    <h1>CHECKOUT: {{ checkout }}</h1>
	    <h1>AD: {{ ad }}</h1>
	    <h1>RECOMMEND: {{ recommend }}</h1>
	    <h1>PRODUCTCATALOG: {{ productcatalog }}</h1>
	    <h1>CARTS: {{ carts }}</h1>
	    <h1>SHIPPING: {{ shipping }}</h1>
	    <h1>CURRENCY: {{ currency }}</h1>
    </div>
  </body>
</html>
