<iframe src="http://10.0.3.10:8989/checkout" width="400" height="400"></iframe>
<iframe src="http://10.0.3.11:8990/ad" width="400" height="400"></iframe>
<iframe src="http://10.0.3.12:8991/payment" width="400" height="400"></iframe>
<iframe src="http://10.0.3.13:8992/recommendation" width="400" height="400"></iframe>
<iframe src="http://10.0.3.14:8993/emails" width="400" height="400"></iframe>
<iframe src="http://10.0.3.15:8994/productcatalog" width="400" height="400"></iframe>
<iframe src="http://10.0.3.16:8995/shipping" width="400" height="400"></iframe>
<iframe src="http://10.0.3.17:8996/currency" width="400" height="400"></iframe>
<iframe src="http://10.0.3.18:8997/cart" width="400" height="400"></iframe>
<iframe src="http://10.0.5.10:8998/redis" width="400" height="400"></iframe>
