<iframe src="http://10.0.3.10/checkout" width="400" height="400"></iframe>
<iframe src="http://10.0.3.11/ad" width="400" height="400"></iframe>
<iframe src="http://10.0.3.12/payment" width="400" height="400"></iframe>
<iframe src="http://10.0.3.13/recommendation" width="400" height="400"></iframe>
<iframe src="http://10.0.3.14/emails" width="400" height="400"></iframe>
<iframe src="http://10.0.3.15/productcatalog" width="400" height="400"></iframe>
<iframe src="http://10.0.3.16/shipping" width="400" height="400"></iframe>
<iframe src="http://10.0.3.17/currency" width="400" height="400"></iframe>
<iframe src="http://10.0.3.18/cart" width="400" height="400"></iframe>
<iframe src="http://10.0.5.10/redis" width="400" height="400"></iframe>
